/* CSS using SCSS
        Created By: Don Page on 12/15/14
        Don.page.work@gmail.com
        @DonRPage
  */
@import url(../bower_components/angular-material/angular-material.css);
@import url(../bower_components/angular-material/themes/indigo-theme.css);



.shop-wrapper--outer {
    width: 100%;
    max-width: 960px;
    margin: 20px auto; }

.shop-wrapper {
    height: 500px; }