<md-content md-theme="indigo" layout="row" layout-align="center center">
    <h1>Hello {{agent}}</h1>
</md-content>

<md-content layout="row" layout-align="center center">
    <h2>Play On: {{playingDevice.$value}}</h2>

    <form ng-submit="playOn(playDevice)">

        <md-content class="radio-wrapper">
            <md-radio-group class="itemradio" ng-model="playDevice">
                <md-radio-button ng-repeat="device in deviceArray" value="{{device.name}}"
                                 aria-label="{{ device.name }}">{{device.name}}
                </md-radio-button>
                <!--<md-radio-button value="d2">d2</md-radio-button>-->
            </md-radio-group>

        </md-content>
        <md-button class="md-raised" type="submit">Okay</md-button>

    </form>
</md-content>


<md-content id="mainVideoWrapper" layout="row" layout-align="center center" ng-switch on="playingDevice.$value == '{{agent}}'">
    <div ng-switch-default>
        playing on different device
    </div>
    <div ng-switch-when="true">
        <youtube-video player="mainPlayer" player-vars="playerVar" video-id="playingVideo.$value"></youtube-video>
    </div>
</md-content>
        {{currentAction.$value}}

<md-content layout="row" layout-align="center center">
    <form style="padding: 20px;" ng-submit="newVideo(videoLink)">
        <div>
            <md-text-float label="videoLink" ng-model="videoLink" required> </md-text-float>
            <md-button class="md-raised md-primary" type="submit">submit</md-button>
        </div>

    </form>
    <!--<md-button class="md-raised md-primary" ng-click="action('play')">Play</md-button>-->
    <!--<md-button class="md-raised md-primary" ng-click="action('pause')">Pause</md-button>-->
</md-content>

<div ng-controller="searchController" layout="horizontal" layout-fill class="md-whiteframe-z1" style="max-width:960px; margin: 50px auto; max-height: 400px;">

    <md-content layout="column" layout-fill md-theme="indigo">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <form md-theme="light-blue-dark" class="search-wrapper" ng-submit="searchYoutube(searchQ)">
                    <md-text-float label="search" ng-model="searchQ" type="search"></md-text-float>
                    <!--<md-button type="submit">submit</md-button>-->
                </form>

            </div>

        </md-toolbar>


        <md-content>
            <md-content class="results-wrapper">
                <section>
                    <md-subheader layout="row" md-theme="indigo" class="md-primary">
                        <div>results</div>
                    </md-subheader>
                    <md-list layout="column">
                        <md-item class="result-item" ng-repeat="result in resultArray">
                            <md-item-content>


                            </md-item-content>
                        </md-item>
                    </md-list>
                </section>
            </md-content>
        </md-content>
    </md-content>
</div>



