<md-content md-theme="indigo" layout="row" layout-align="center center">
    <h1>Hello {{agent}}</h1>
</md-content>

<md-content layout="row" layout-align="center center">
    <h2>Play On: {{playingDevice.$value}}</h2>

    <form ng-submit="playOn(playDevice)">

        <md-content class="radio-wrapper">
            <md-radio-group class="itemradio" ng-model="playDevice">
                <md-radio-button ng-repeat="device in deviceArray" value="{{device.name}}"
                                 aria-label="{{ device.name }}">{{device.name}}
                </md-radio-button>
                <!--<md-radio-button value="d2">d2</md-radio-button>-->
            </md-radio-group>

        </md-content>
        <md-button class="md-raised" type="submit">Okay</md-button>

    </form>
</md-content>


<md-content layout="row" layout-align="center center" ng-show="playingDevice.$value == '{{agent}}'">
    <youtube-video player="mainPlayer" player-vars="playerVar" video-id="playingVideo.$value"></youtube-video>
</md-content>
        {{currentAction.$value}}

<md-content layout="row" layout-align="center center">
    <form style="padding: 20px;" ng-submit="newVideo(videoLink)">
        <div>
            <md-text-float label="videoLink" ng-model="videoLink" required> </md-text-float>
            <md-button class="md-raised md-primary" type="submit">submit</md-button>


        </div>

    </form>
    <md-button class="md-raised md-primary" ng-click="action('play')">Play</md-button>
    <md-button class="md-raised md-primary" ng-click="action('pause')">Pause</md-button>
</md-content>



