<md-content md-theme="indigo" layout="row" layout-align="center center">
    <h1>Hello, welcome to {{ room.$id }}</h1>
</md-content>

<md-content layout="row" layout-align="center center">
    <h2>Play On: {{room.playingDevice}}</h2>

    <form ng-submit="switchPlayDevice(playDevice)">

        <md-content class="radio-wrapper">
            <md-radio-group class="itemradio" ng-model="playDevice">
                <md-radio-button ng-repeat="device in room.devices" value="{{device.name}}"
                                 aria-label="{{ device.name }}">{{device.name}}
                </md-radio-button>
                <!--<md-radio-button value="d2">d2</md-radio-button>-->
            </md-radio-group>

        </md-content>
        <md-button class="md-raised" type="submit">Okay</md-button>

    </form>
</md-content>


<md-content id="mainVideoWrapper" layout="row" layout-align="center center" ng-switch on="room.playingDevice == '{{agent}}'">
    <div ng-switch-default>
        playing on different device
    </div>
    <div ng-switch-when="true">
        <youtube-video player="mainPlayer" player-vars="playerVar" video-id="room.nowPlaying"></youtube-video>
    </div>
</md-content>

    <md-content ng-controller="searchController" layout="column" layout-fill md-theme="indigo">
        <div layout="horizontal" layout-fill class="shop-wrapper--outer md-whiteframe-z1">

            <md-content layout="column" layout-fill md-theme="indigo">
                <md-toolbar md-theme="indigo">
                    <div class="md-toolbar-tools">
                        <form layout="row" md-theme="light-blue-dark" class="search-wrapper" ng-submit="searchYoutube(searchQ)">
                            <md-text-float flex="33" label="search" ng-model="searchQ" type="search"></md-text-float>
                            <md-button flex="77" style="top:30; right:0; position: absolute;" type="submit">submit</md-button>
                        </form>
                    </div>
                </md-toolbar>

                <md-content>
                    <md-content class="shop-wrapper">
                        <section>
                            <md-subheader layout="row" md-theme="indigo" class="md-primary">
                                <div>results</div>
                            </md-subheader>
                            <md-list layout="column">
                                <md-item class="result-item" ng-repeat="result in resultArray">
                                    <md-item-content>

                                        <md-item-content>
                                            <img ng-src="{{result.snippet.thumbnails.default.url}}" ng-click="newVideo(result.id.videoId)"/>
                                            <a href="" ng-click="newVideo(result.id.videoId)" layout-align="center">{{result.snippet.title}}</a>
                                            <md-button ng-click="addToPlaylist(room.currentPlayList, result.snippet.thumbnails.default.url, result.snippet.title, result.id.videoId)">+</md-button>
                                        </md-item-content>

                                    </md-item-content>
                                </md-item>
                            </md-list>
                        </section>


                    </md-content>
                </md-content>
            </md-content>
        </div>

    </md-content>

<md-content layout="column" layout-fill md-theme="indigo">
    <div layout="horizontal" layout-fill class="shop-wrapper--outer md-whiteframe-z1">

        <md-content layout="column" layout-fill md-theme="indigo">
            <md-toolbar md-theme="indigo">
                <div class="md-toolbar-tools">

                </div>
            </md-toolbar>

            <md-content>
                <md-content class="shop-wrapper">
                    <section>
                        <md-subheader layout="row" md-theme="indigo" class="md-primary">
                            <div>playlist: {{ room.currentPlayList }} ({{ room.currentIndex }})</div>
                        </md-subheader>
                        <md-list layout="column">
                            <md-item class="result-item" ng-repeat="song in syncPlaylistArray track by $index">
                                <md-item-content>

                                    <md-item-content>
                                        <img ng-src="{{song.thumb}}" ng-click="newVideo(song.id, $index)"/>
                                        <a href="" ng-click="newVideo(song.id, $index)" layout-align="center">{{ $index }} {{song.title}}</a><span ng-show="(room.currentIndex == $index)">PLAYING</span>
                                        <!--<md-button ng-click="addToPlaylist(song.snippet.thumbnails.default.url, result.snippet.title, result.id.videoId)">+</md-button>-->
                                    </md-item-content>

                                </md-item-content>
                            </md-item>
                        </md-list>
                    </section>


                </md-content>
            </md-content>
        </md-content>
    </div>

</md-content>



